<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.maximpestryakov.katexview">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:supportsRtl="true" />

</manifest>
